*{
    margin: 0;
    padding: 0;    
}
:root{
    --primary: #11346F;
    --secondary: #197AFF;
    --white: #fff;
    --black: #000;
    --dark-grey:  #262626;
}

/* Global classes */
.main-padding{
    padding-left: 100px;
    padding-right: 100px;
}
.btn-primary{
    color: var(--white);
    background-color: var(--secondary);
    border-radius: 60px;
    font-family: 'mont-bold';
    text-align: center;
}
.bg-green{
    background-color: #57AC73;
}
.bg-red{
    background-color: #AC5780;
}
.category{
    font-size: 12px;
    line-height: 16px;
    color: var(--white);
    display: inline-block;
    padding: 6px 16px;
    border-radius: 50px;
    font-family: 'mont-semiBold';
    margin: 24px 0 10px;
}
