*{
    margin: 0;
    padding: 0;    
}
:root{
    --primary: #11346F;
    --secondary: #197AFF;
    --white: #fff;
    --black: #000;
    --dark-grey:  #262626;
}

/* Global classes */
.main-padding{
    padding-left: 100px;
    padding-right: 100px;
}
.btn-primary{
    color: var(--white);
    background-color: var(--secondary);
    border-radius: 60px;
    font-family: 'mont-bold';
    text-align: center;
}