@font-face {
  font-family: mont-bold;
  src: url('/assets/fonts/Mont-Bold.otf');
}
@font-face {
  font-family: mont-regular;
  src: url('/assets/fonts/Mont-Regular.otf');
}
@font-face{
  font-family: mont-semiBold;
  src: url('/assets/fonts/Mont-SemiBold.otf')
}
@font-face{
  font-family: mont-book;
  src: url('/assets/fonts/Mont-Book.otf');
}
@font-face{
  font-family: mont-heavy;
  src: url('/assets/fonts/Mont-Heavy.otf');
}
@font-face{
  font-family: mont-light;
  src: url('/assets/fonts/Mont-Light.otf')
}