/* Base styles */
@import './base.css';

/* Fonts */
@import './fonts.css';

/* Headers */
@import './components/headers.css';

/* About us */
@import './components/about-us.css';

/* Divider */
@import './components/divider.css';

/* Shop */
.shop{
    background-image: linear-gradient(118.72deg, #AECCFF -18.14%, #197AFF 165.34%);
    padding-top: 29px;
    padding-bottom: 54px;
}
.shop > .title{
    color: var(--primary);
    font-size: 37px;
    line-height: 49px;
    font-family: 'mont-semiBold';
    text-align: center;
    margin-bottom: 55px;
}
.shop > .title > span{
    color: var(--white);
    font-family: 'mont-heavy';
    display: block;
    position: relative;
}
.shop > .title > span:after{
    content: url('../img/limited-offer-underline.svg');
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -22px;
}
.cards-wrapper{
    display: flex;
    justify-content: space-between;
}
.card:first-child{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.card{
    background-color: #f6f8fcb3;
    border: 1.5px solid var(--secondary);
    border-radius: 18px;
    text-align: center;
    padding: 0 16px 30px;
}
.card:hover{
    background-image: linear-gradient(180deg, var(--white) 0%, #D7E6FF 100%);
}
.card > .img{
    margin-top: -16px;
}
.card > .title{
    font-size: 28px;
    line-height: 37px;
    color: var(--primary);
    font-family: 'mont-semiBold';
    margin-bottom: 16px;
}
.card > .title > span{
    color: var(--secondary);
    font-family: 'mont-bold';
    position: relative;
}
.card > .title > span:before{
    content: url('../img/curly-arrow.svg');
    position: absolute;
    top: -82px;
    right: -18px;
    transform: rotate(71deg);
}
.card > .title > span:after{
    content: url('../img/get-1-free-underline.svg');
    position: absolute;
    left: 0;
    bottom: -8px;
}
.card > .prices{
    font-size: 32px;
    line-height: 43px;
    display: flex;
    justify-content: center;
}
.card > .prices > .new-price{
    color: var(--primary);
    font-family: 'mont-heavy';
    margin-right: 23px;
}
.card > .prices > .new-price > span{
    display: block;
    font-size: 13px;
    line-height: 16px;
    font-family: 'mont-semiBold';

}
.card > .prices .old-price{
    color: #93A2BB;
    font-family: 'mont-bold';
    position: relative;
}
.card > .prices  .old-price::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #647AA0;
    position: absolute;
    display: inline-block;
    left: 0;
    top: 50%;
}
.installment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
}
.installment > p{
    font-size: 12px;
    line-height: 16px;
    color: var(--primary);
    font-family: 'mont-regular';
}
.installment > p > span{
    font-family: 'mont-heavy';
}
.installment > .company{
    background-color: #BCF5E3;
    width: 77px;
    height: 17.11px;
    border-radius: 40px;     
}
.guarantee{
    width: 331px;
    height: 83px;
    border: 1px solid #AECCFF;
    border-radius: 19px;
    margin: 0 auto;
    position: relative;
}
.guarantee > .top-left-section{
    width: 48%;
    background-color: #BFF5BE;
    z-index: 199;
    position: relative;
    font-size: 12px;
    line-height: 16px;
    font-family: 'mont-bold';
    color: var(--primary);
    padding: 14px 0 13px; 
    border: 1px solid #99D298;
    border-radius: 48px;
    margin-top: -6px;
}
.guarantee > .top-right-section{
    width: 81%;
    background: #F0F6FF;
    position: absolute;
    right: 0;
    top: -6px;
    border: 1px solid #AECCFF;
    border-radius: 80px;
    padding: 13px 16px 15px;
    text-align: end;
}
.guarantee-money-back{
    font-size: 12px;
    line-height: 15px;
    font-family: 'mont-semiBold';
    color: var(--primary);
}
.guarantee-money-back > span{
    position: relative;
}
.guarantee-money-back > span:after{
    content: url('../img/guarantee-icon.svg');
    position:absolute;
    left: 0;
    top: calc(50% - 13px);
    transform: translateX(calc(-100% - 4px)); 
}
.guarantee > .bottom-section{
    margin-top: 11px;
    font-size: 13px;
    line-height: 17px;
    color: var(--primary);
    font-family: 'mont-bold';
}
.btn-get-magic{
    margin-top: 23px;
    padding: 15px 0 14px;
}
.payments{
    margin-top: 21px;
    display: flex;
    justify-content: space-around;
}

/* Responsives */
@media (max-width:1320px){
    /* About us */
    .about-us > .title{
        grid-column: 1/4;
    }
    .about-us > .img{
        grid-row: 1/3;
        margin-top: unset;
    }
    .about-us > .img > img{
        float: right;
        width: 350px;
    }
    .services-wrapper{
        grid-column: 1/5;
    }
    .about-us > .title > span:before{
        transform: rotate(224deg) scaleX(-1);
    }
    /* Divider */
    .divider{
        font-size: 14px;
        padding: 15px 30px;
        line-height: 24px;
    }
    /* Shop */
    .cards-wrapper{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .card:last-child{
        margin-top: 35px;
    }
}

@media (max-width:1200px){
    /* Global classes */
    .main-padding{
        padding-left: 50px;
        padding-right: 50px;
    }
    /* Header */
    .header{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .links li {
        display: inline-block;
        margin-right: 25px;
    }
    /* Divider */
    .offer{
        flex-direction: column;
        text-align: center;
    }
    .divider > .offer > .img{
        width: 36px;
        height: 36px;
        margin-bottom: 5px;        
    }
    .divider > .offer > .img > img{
        transform: scale(0.7);
    }
}

@media (max-width:992px){
    /* Global classes */
    .main-padding{
        padding-left: 17px;
        padding-right: 17px;
    }
    /* Header */
    .header{
        justify-content: center;
    }
    .links, .btn-order-now{
        display: none;
    }
    /* About us */
    .about-us{
        background-color: #f5fdff;
        padding-top: 20px;
        padding-bottom: 25px;
    }
    .about-us > .title{
        font-size: 38px;
    }
    .about-us > .title > span:before{
        right: -94px;
        top: 16px;
    }
    .about-us > .desc{
        grid-column: 1/5;
        text-align: center;
        margin-top: 45px;
    }
    .services-wrapper{
        display: flex;
        justify-content: center;
    }
    .about-us > .img > img{
        float: right;
        width: 270px;
    }
    .services{
        background: unset;
        border: unset;
        margin-top: unset;
        width:100%;
        display: flex;
        justify-content: space-between;
    }
    .service:not(:first-child):before, .service > p:not(.title){
        display: none;
    }
    .btn-group{
        grid-column: 1/5;
        margin-top: 10px;
    }
    .btn-get-now{
        margin: 18px auto 18px;
    }
    .testimonial-wrapper{
        grid-row: 5;
        grid-column: 1/5;
        margin: 0 auto;
    }
    /* Shop */
    .shop > .title{
        font-size: 30px;
        line-height: 39px;
    }
    .cards-wrapper{
        flex-direction: column-reverse;
        align-items: center;
    }
    .card{
        margin-bottom: 73px;
    }
    .card:first-child .guarantee-money-back{
        display: none;
    }
    .card:first-child .img{
        margin-top: 20px;
    }
    .card:first-child .btn-primary{
        margin-top: unset;
    }
    .card:last-child{
        margin-top: unset;
    }
    .card > .title{
        font-size: 24px;
        line-height: 29px;
        font-family: 'mont-regular';
    }
    .card > .prices{
        font-size: 25px;
        line-height: 31px;
    }
    .card > .prices > .new-price{
        font-family: 'mont-bold';
    }
    .card > .prices > .new-price >  span{
        display: none;
    }
    .card > .prices > .old-price{
        font-family: 'regular';
    }
}

@media (max-width: 673px){
    /* About us */
    .about-us > .title{
        font-size: 26px;
        line-height: 30px;
        grid-column: 1/3;
    }
    .about-us > .img > img {
        width: 179px;
    }
    .about-us > .title > span:before{
        top: 3px;
        transform: rotate(199deg) scaleX(-1);
    } 
    .about-us > .title > span:after {
        transform: scaleX(0.56);
        bottom: -18px;
        left: -42px;
    }
    .about-us > .desc{
        font-size: 14px;
        line-height: 22px;
    }
    .about-us > .desc  span{
        display: none;
    }
    .service > .title{
        font-size: 12px;
    }
    .service:not(:first-child){
        margin-left: 10px;
    }
    .btn-get-now{
        margin-top: 0;
        font-size: 16px;
        width: 377px;
    }
    .btn-bundle{
        font-size: 13px;
        line-height: 14px;
        width: 228px;
    }
    .testimonial-wrapper { 
        width: 377px;        
    }
    .testimonial > .text{
        padding-right: 68px;
    }
    /* Divider */
    .divider{
        padding: 11px 0;
        justify-content: space-around;
        font-size: 12px;
        line-height: 18px;
    }
    .offer .hide{
        display: none;        
    }
    .offer .show{
        display: inline-block;
    }
    .offer:last-child{
        display: none;
    }
}
